@page "/Employees"

@using Project_with_Login.Data
@inject EmployeeService employeesService
@inject IJSRuntime js

<AuthorizeView>
    <Authorized>

        <NavLink class="nav-link hideWhenPrint" href="AddNewEmployee">
    <span class="oi oi-plus" aria-hidden="true">Add New Employee</span>

</NavLink>
<h3>EmployeeList</h3>

@if (EmpObj is null)
{
    <p><em>Loading..............</em></p>
}
else
{
            <input class="form-control hideWhenPrint" type="text" placeholder="Filter..." @bind="Filter" @bind:event="oninput">
 
    <table class="table">
        <thead>
            <tr>
                <th>
                    Emp No
                </th>
                <th>
                    Employee Name
                </th>
                <th>
                    Email Address
                </th>
                <th>
                    Designation
                </th>
                <th>
                    Phone Number
                </th>
                <th class="hideWhenPrint">
                    Edit
                </th>
                <th class="hideWhenPrint">
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in EmpObj)
            {
                        if (!IsVisible(emp))
                            continue;
                        <tr>
                    <td>
                        @emp.Id
                    </td>
                    <td>
                        @emp.FullName
                    </td>
                    <td>
                        @emp.EmailAddress
                    </td>
                    <td>
                        @emp.Designation
                    </td>
                    <td>
                        @emp.PhoneNumber
                    </td>
                    <td>
                            <a class="nav-link btn btn-primary hideWhenPrint" href="EditEmployee/@emp.Id">
                            <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                        </a>
                    </td>
                    <td>
                            <a class="nav-link btn btn-danger hideWhenPrint" href="DeleteEmployee/@emp.Id">
                            <span class="oi oi-trash" aria-hidden="true">Delete</span>
                        </a>
                    </td>
                </tr>
            }              
        </tbody>
    </table>
}

        <button class="btn-danger hideWhenPrint" @onclick="Print" style="margin-bottom:10px;">Print</button>
        @code {

            public string Filter { get; set; }

            List<Employee> EmpObj;

            public bool IsVisible(Employee employee)
        {
            if (string.IsNullOrEmpty(Filter))
                return true;

            if (employee.FirstName.Contains(Filter, StringComparison.OrdinalIgnoreCase))
                return true;

            if (employee.LastName.Contains(Filter, StringComparison.OrdinalIgnoreCase))
                return true;

            return false;
        }

    protected override async Task OnInitializedAsync()
    {

            EmpObj = await Task.Run(() => employeesService.GetAllEmployees());
    }

    private void Print()
        {
            js.InvokeVoidAsync("Print");
        }     
}
</Authorized>
</AuthorizeView>